<h2> Üye Ol</h2>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
            <div class="mb-3">
                <label for="nameSurname" class="form-label">Ad Soyad</label>
                <input type="text" class="form-control" formControlName="nameSurname" id="nameSurname"
                    aria-describedby="emailHelp" [ngClass]="{'is-invalid': submitted && component.nameSurname.errors}">
                <div *ngIf="submitted && component.nameSurname.errors?.required" class="form-text invalif-feedback"> Lütfen
                    adınızı soyadı boş geçmeyiniz!</div>
                <div *ngIf="submitted && (component.nameSurname.errors?.maxlength || component.nameSurname.errors?.minlength )"
                    class="form-text invalif-feedback"> Lütfen 3 ile 50 karakter arasında yazınız!</div>
            </div>
            <div class="mb-3">
                <label for="userName" class="form-label">Kullanıcı Adı</label>
                <input type="text" class="form-control" formControlName="userName" id="userName"
                    aria-describedby="emailHelp" [ngClass]="{'is-invalid': submitted && component.userName.errors}">
                <div *ngIf="submitted && component.userName.errors?.required" class="form-text invalif-feedback">
                    Lütfen
                    kullanıcı adını boş geçmeyiniz!</div>
                <div *ngIf="submitted && (component.userName.errors?.maxlength || component.userName.errors?.minlength )"
                    class="form-text invalif-feedback"> Lütfen 3 ile 50 karakter arasında yazınız!</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email </label>
                <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp"
                    [ngClass]="{'is-invalid': submitted && component.email.errors}">
                <div *ngIf="submitted && component.email.errors?.required" class="form-text invalif-feedback"> Lütfen
                    emaili boş geçmeyiniz!</div>
                <div *ngIf="submitted && component.email.errors?.email" class="form-text invalif-feedback"> Lütfen
                    geçerli bir email adresi giriniz!</div>
                <div id="emailHelp" class="form-text">E-postanızı asla başka biriyle paylaşmayacağız.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Şifre Oluştur</label>
                <input type="password" class="form-control" formControlName="password" id="password"
                    [ngClass]="{'is-invalid': submitted && component.password.errors}">
                <div id="emailHelp" class="form-text">Şifreniz en az bir küçük harf bir büyük harf ve bir sayı
                    içermelidir</div>
            </div>
            <div class="mb-3">
                <label for="passwordConfirm" class="form-label">Şifre Tekrar</label>
                <input type="password" class="form-control" formControlName="passwordConfirm" id="passwordConfirm"
                    [ngClass]="{'is-invalid': submitted && component.passwordConfirm.errors}">
                <div *ngIf="submitted && frm.hasError('notSame')" class="form-text invalif-feedback"> Şifreniz
                    uyuşmuyor!</div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="Check1">
                <label class="form-check-label" for="Check1">Check me out</label>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-dark">Üye ol</button>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>