<h2> Giriş Yap </h2>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="mb-3">
            <label for="userName" class="form-label">Kullanıcı Adı & Email</label>
            <input #txtUsernameOrEmail type="text" class="form-control" id="userName" aria-describedby="emailHelp"
                placeholder="Kullanıcı Adı & Email">
            <div class="form-text invalif-feedback">
                ***</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Şifre</label>
            <input #txtPassword type="password" class="form-control" id="password" placeholder="Şifreniz">
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="Check1">
            <label class="form-check-label" for="Check1">Beni hatırla</label>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-dark"
                (click)="login(txtUsernameOrEmail.value, txtPassword.value)">Giriş Yap</button>
        </div>

        <asl-google-signin-button></asl-google-signin-button>
        <hr>
        <img src="../../assets/fblogin.png" style="width: 33px; height: 33px; cursor: pointer;"
            (click)="facebookLogin()" />
    </div>
    <div class="col-md-4"></div>
</div>