:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  width: 100%;
  color: purple;
  text-align: center;
}

.product-create {
  margin: 5px 5px 5px;
}

.btn {
  width: 100%;
  align-self: center;
}